body {
    font-family: Arial, sans-serif;
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 0;
}
header {
    background-color: #add8e6;
    padding: 20px;
    text-align: center;
}
nav {
    margin-top: 10px;
}
.breadcrumb {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.breadcrumb li {
    margin: 0 5px;
}
.breadcrumb a {
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
}
.content-section, .game-section {
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
.game {
    background-color: #add8e6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}