:root{
    --blue-baby:#43bedd;
    --bluei: #60cee6;
    --black: #0000;
    --aliceblue: var(--aliceblue);
    --white: var(--white);
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--white);
    margin: 0;
    padding: 0;
}
header {
    background-color: var(--blue-baby);
    padding: 20px;
    text-align: left;
}
nav {
    margin-top: 10px;
}
.breadcrumb {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.breadcrumb li {
    margin: 0 5px;
}
.breadcrumb a {
    color: var(--white);
    text-decoration: none;
}
main {
    padding: 20px;
}
.content-section, .game-section {
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
.game, .quiz {
    background-color: #add8e6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.quiz button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #add8e6;
    color: black;
}